	body{
 
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}
	
			@font-face{
        font-family:ib;
        src:url(ib.ttf)format("truetype")
}
														
									@font-face{
        font-family:i;
        src:url(i.ttf)format("truetype")
}
header{position:sticky;
top:0; background-color:#000000;}
	
		#mySearch {
		font-size:20px;
		margin-top:15px;
  margin-left:15%;
  margin-bottom:15px;
  width:50%;
position:sticky;
top:0;
}			
  				h6{display:none;}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
#showcase{
  min-height:400px;
  background:url('main.png') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#000000;
  margin:10px;
  border-bottom:#33691E 3px solid;
}
p{font-family:i;}
h2{font-family:ib;font-size:30px;}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item{
margin:25px;
				padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
.item p{font-size:20px;}	
#showcase p{
  font-size:20px;
}

a{text-decoration:none;}
.content {margin:10px;}
.content p{font-size:20px;}