			@font-face{
        font-family:ib;
        src:url(ib.ttf)format("truetype")
}

@
														
									@font-face{
        font-family:i;
        src:url(i.ttf)format("truetype")
}
  		div.items1{border-left:#DD2C00 4px solid;box-shadow:1px 1px 1px 1px #000000;padding:2px;margin:3px;font-family:ib;font-size:20px;}
  		
  		div.items2{border-left:#1B5E20 4px solid;box-shadow:1px 1px 1px 1px #000000;padding:2px;margin:3px;font-family:ib;font-size:20px;}
  		
  		
  		div.items3{border-left:#FF8A65 4px solid;box-shadow:1px 1px 1px 1px #000000;padding:2px;margin:3px;font-family:ib;font-size:20px;}
  		
  		
 #myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
	#mySearch {
		background-position: 10px 12px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #EF9A9A;
  border-radius:10px;
  margin-bottom: 12px;
  outline:none;
  
  
position:sticky;
top:0;
}			
h6{display:none;}
a{text-decoration:none;}

div.content{border-left:#DD2C00 4px solid;box-shadow:1px 1px 1px 1px #000000;padding:2px;margin:3px;font-family:i;font-size:20px;}
  		
div.sar{box-shadow:1px 1px 2px 1px #D32F2F;}
div.sar h3{background-color:#B71C1C;color:#ffffff;font-family:ib;padding:15px;font-size:30px;}
div.sar p{font-family:i;font-size:20px;}
div.imei{box-shadow:1px 1px 2px 1px black;}
div.imei h3{color:#006064;text-align:center;}
div.imei p{font-family:i;font-size:20px;}
